.post-card {
    max-width: 400px;
    width: 400px;
    height: 200px;

  }
  .post-item 
  {
   width: 400px;
   margin-right: 7vw;
   margin-bottom: 3vw;

  }
  .posts-list 
  {
      list-style-type: none;
      display: flex;
      flex-flow: wrap;

  }